<nav class="navbar">

    <div class="container">
        <div class="p-grid">
            <div class="row">
                <div class="p-col-6" style="margin-right: 50px;">
                    <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
                </div>
                <div class="p-col-6">
                    <a [routerLink]="['/home']" class="navbar-toggle"><i class="pi pi-home"></i></a>
                </div>
                   <div class="p-col-6" class="navbar-botton-user">
                    <a href="javascript:;" class="navbar-toggle"><i class="pi pi-user"></i></a>
                    <label>Gas Online</label>
                </div>

            </div>
        </div>
    </div>


    <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <img src="assets/images/logoppdark.png">
        <li class="navbar-menuitem"><a [routerLink]="['/dashboard']">DASHBOARDS</a></li>
        <li class="navbar-menuitem"><a [routerLink]="['/produtos/pesquisa']">PRODUTOS</a></li>
        <!-- <li class="navbar-menuitem"><a href="http://localhost:4200/pessoa/cadastro">Cliente/Fornecedor</a></li> -->
        <!-- <li class="navbar-menuitem"><a href="http://localhost:4200/compra/cadastro">Compras</a></li> -->
        <li class="navbar-menuitem"><a [routerLink]="['/vendas/pesquisa']">VENDAS</a></li>
        <li class="navbar-menuitem"><a [routerLink]="['/usuario']">PESSOAS</a></li>

    </ul>


</nav>
