<nav class="navbar">

    <div class="container">
        <div class="p-grid">
            <div class="row">
                <div class="p-col-6" style="margin-right: 50px;">
                    <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
                </div>
                <div class="p-col-6">
                    <a href="http://localhost:4200" class="navbar-toggle"><i class="pi pi-home"></i></a>
                </div>
                   <div class="p-col-6" class="navbar-botton-user">
                    <a href="javascript:;" class="navbar-toggle"><i class="pi pi-user"></i></a>
                    <label>Jonatha Freitas</label>
                </div>

            </div>
        </div>
    </div>

    <ul class="navbar-menu" >
        <li class="navbar-usuario">SGDG</li>
        <li class="navbar-menuitem"><a href="http://localhost:4200">DashBoards</a></li>
        <li class="navbar-menuitem"><a href="http://localhost:4200/produtos/pesquisa">Produtos</a></li>
        <li class="navbar-menuitem"><a href="http://localhost:4200/pessoa/cadastro">Cliente/Fornecedor</a></li>
        <li class="navbar-menuitem"><a href="http://localhost:4200/compra/cadastro">Compras</a></li>
        <li class="navbar-menuitem"><a href="http://localhost:4200/venda/cadastro">Vendas</a></li>
        <li class="navbar-menuitem"><a href="http://localhost:4200/usuario">Usuários</a></li>

    </ul>

</nav>
