<div class="container">

    <div class="container " style="margin-top: 20px; ">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Cargo</th>
                    <th class="centro ">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios ">
                    <td> {{ usuario.id }}</td>
                    <td> {{ usuario.nome }}</td>
                    <td> {{ usuario.email }}</td>
                    <td> {{ usuario.telefone }}</td>
                    <td> {{ usuario.cpf }}</td>
                    <td> {{ usuario.endereco }}</td>
                    <td> {{ usuario.categoria }}</td>
                    <td> {{ usuario.cargo }}</td>

                    <td>
                        <button pButton pRipple type="button " icon="pi pi-pencil " class="p-button-rounded" (click)="selectUsuario(usuario)"></button>&nbsp;
                        <button pButton pRipple type="button " icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined " (click)="deleteUsuario(usuario)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-grid">
        <form>
            <div class="p-col-4" style="margin-top: 4px;">
                <a pButton label="Novo Usuário" icon="pi pi-user-plus" routerLink="/usuario/create"></a><br>
            </div>
        </form>
        <div class="card text-center" *ngIf="selectedUsuario"><br>
            <div>
                # {{ selectedUsuario.id}}
                <button *ngIf="!edicao" class="btn btn-primary" (click)="editar()">Editar</button>
            </div>
            <div class="card-block ">
                <h4 *ngIf="!edicao" class="card-title ">{{ selectedUsuario.name}}</h4>
                <div *ngIf="edicao" class="p-col-12 col-md-8 p-fluid">
                    <label for="nome">Nome *</label>
                    <input [(ngModel)]="selectedUsuario.nome" type="text" name="nome" class="form-control" id="nome" aria-describedby="nameHelp" placeholder="Digite o nome"><br>
                </div>
                <div *ngIf="edicao" class="p-col-4 col-md-4 p-fluid">
                    <label for="cpf">CPF *</label>
                    <input [(ngModel)]="selectedUsuario.cpf" type="text" name="cpf" class="form-control" id="cpf" aria-describedby="cpfHelp" placeholder="Digite o cpf">
                </div>
                <p *ngIf="!edicao" class="card-text ">
                    {{ selectedUsuario.nome}}
                </p>
                <button *ngIf="edicao" class=" btn btn-primary " (click)="salvar() ">Salvar</button>&nbsp;
                <button *ngIf="edicao" class=" btn btn-primary " (click)="cancelar() ">Cancelar</button>
            </div>
            <div class="row">
                <div class="p-col-12 col-md-8 p-fluid">
                    <label for="email">E-mail</label>
                    <input [(ngModel)]="selectedUsuario.email" type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Digite o e-mail">
                </div>
                <div class="p-col-4 col-md-4 p-fluid">
                    <label for="telefone">Telefone</label>
                    <input [(ngModel)]="selectedUsuario.telefone" type="text" name="telefone" class="form-control" id="telefone" aria-describedby="telefoneHelp" placeholder="Digite o telefone"><br>
                </div>
                <div class="p-col-12 col-md-8 p-fluid">
                    <label for="endereco">Endereço</label>
                    <input [(ngModel)]="selectedUsuario.endereco" type="text" name="endereco" class="form-control" id="endereco" aria-describedby="enderecoHelp" placeholder="Digite o endereco">
                </div>
                <!-- <div class="p-col-4 col-md-4 p-fluid">
                    <label for="cargo">Cargo</label>
                    <input [(ngModel)]="pessoa.cargo" type="text" name="cargo" class="form-control" id="cargo" aria-describedby="cargoHelp" placeholder="Digite o cargo"><br>
                </div> -->
                <div class="p-col-12 col-md-4 p-fluid">
                    <label>Cargos</label>
                    <p-dropdown name="cargo" [options]="cargos" placeholder="Selecione"></p-dropdown>
                </div>

            </div>

        </div>
    </div>

</div>