<div class="container">
  <div class="col-12 grid-margin">
      <div class="card">
          <div class="card-body">
              <div class="ui-g">
                  <div>
                      <!-- <h1>{{edicao ? 'Edição de ' : 'Nova '}} Usuário do sistema</h1> -->
                      <h1>Login Usuario</h1>
                  </div>
              </div>
              <form class="form-sample form-group">
                  <div>
                      <div class="row">
                          <div class="p-col-4 col-md-4 p-fluid">
                              <label for="cpf">Login</label>
                               <input [(ngModel)]="usuario.login" type=" text" name="login" class="form-control" id="cpf"> -->
                              <!--<p-inputMask mask="999.999.999-99" [(ngModel)]="usuario.cpf" placeholder="999.999.999-99"
                                  name="cpf"></p-inputMask>-->
                              <!-- <input [(ngModel)]="cpf" type="text" name="lcpf" class="form-control" id="cpf" readonly> -->
                          </div>
                          <div class="p-col-12 col-md-4 p-fluid">
                              <label for="senha">Senha *</label>
                              <p-password [(ngModel)]="usuario.senha" name="senha" placeholder="Digite a senha">
                              </p-password>
                          </div>

                      </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block" (click)="fazerLogin()">Entrar</button>
                  </div>
              </form>
          </div>
      </div>

  </div>
</div>
