<div class="container">
  <div class="col-8 grid-auto">
      <div class="card">
          <div class="card-top">
              <div class="ui-g">
                  <div>
                    <img src="assets/images/logo.png" alt="">
                    <h2 class="title">Login de Usuário</h2>
                  </div>
              </div>

                  <div class="p-col-4 p-fluid">
                      <div>
                          <div class="p-field">
                              <label>Login</label>
                              <p-inputMask mask="999.999.999-99" [(ngModel)]="usuario.login" name="cpf" placeholder="Digite seu CPF"></p-inputMask>
                              <!--<p-inputMask mask="999.999.999-99" [(ngModel)]="usuario.cpf" placeholder="999.999.999-99"
                                  name="cpf"></p-inputMask>-->
                              <!-- <input [(ngModel)]="cpf" type="text" name="lcpf" class="form-control" id="cpf" readonly> -->
                          </div>
                          <div>
                              <label>Senha </label>
                              <p-password [feedback]="false" [toggleMask]="true" [(ngModel)]="usuario.senha" type="password" name="senha" id="senha" placeholder="Digite a senha"></p-password>

                          </div>

                      </div>
                  </div>
                  <div>
                    <button class="btn btn-primary submit-btn btn-block" (click)="fazerLogin()">Entrar</button>
                  </div>

          </div>
      </div>

  </div>
</div>
