<div class="container" style="margin-top: 20px;">
  <form>
    <div class="ui-g">
      <div>
        <h1>Nova Venda</h1>
      </div>
    </div>


    <p-orderList [value]="produtosDisponiveis" [listStyle]="{'height':'auto'}" header="Lista de Produtos"
      filterBy="nome" filterPlaceholder="Filtro por nome" dragdrop="true">
      <ng-template let-produto pTemplate="item">
        <div class="product-item">
          <div class="product-list-detail">
            <h5 class="p-mb-2">{{produto.descricao}}</h5>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{produto.categoria.sigla}}</span>
          </div>
          <div class="product-list-action">
            <h6 class="p-mb-2">R$ {{produto.valorVenda}}</h6>
            <span [class]="'product-badge status-'">{{produto.quantidadeEstoque ? 'DISPONÍVEL' : 'INDISPONÍVEL'
              }}</span>
          </div>
        </div>
      </ng-template>
    </p-orderList>

  </form>

  <span class="p-buttonset" style="float:right">
    <button pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class="p-button-outlined"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check"></button>
  </span>
</div>
