<div class="container" style="margin-top: 20px;">
  <form>
    <div class="ui-g">
      <div>
        <h1>Nova Venda</h1>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4 col-6">
          <div class="description-block border-right">
            <h5 class="description-header">R$ 210.43</h5>
            <span class="description-text">Soma Produtos</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-6">
          <div class="description-block border-right">
            <h5 class="description-header">R$ 5.00</h5>
            <span class="description-text">Frete</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-6">
          <div class="description-block border-right">
            <h5 class="description-header">R$ 215.43</h5>
            <span class="description-text">valor total</span>
          </div>
          <!-- /.description-block -->
        </div>
        </div>
      <!-- /.row -->
    </div>

    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Preencha os dados</h3>
      </div>
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" placeholder="Cliente">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>

        <h4></h4>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" class="form-control" placeholder="Email">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-check"></i></span>
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-dollar-sign"></i>
            </span>
          </div>
          <input type="text" class="form-control">
          <div class="input-group-append">
            <div class="input-group-text"><i class="fas fa-ambulance"></i></div>
          </div>
        </div>
      </div>

    </div>

</form>
</div>
