<div class="container">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="ui-g">
                    <div>
                        <!-- <h1>{{edicao ? 'Edição de ' : 'Nova '}} Usuário do sistema</h1> -->
                        <h1>Cadastro de Usuario</h1>
                    </div>
                </div>
                <form class="form-sample form-group">
                    <div>
                        <div class="row">
                            <!-- <div class="row"> -->
                            <div class="p-col-12 col-md-8 p-fluid">
                                <label for="nome">Nome *</label>
                                <input [(ngModel)]="usuario.nome" type="text" name="nome" class="form-control" id="nome"
                                    aria-describedby="nameHelp" placeholder="Digite o nome">
                                <!-- <p-inputMask mask="99-999999" [(ngModel)]="usuario.nome" placeholder="99-999999"></p-inputMask> -->
                            </div>

                            <div class="p-col-12 col-md-4 p-fluid ">
                                <label>Tipo de Pessoa *</label>
                                <p-selectButton [options]="tipoPessoas" [(ngModel)]="usuario.tipo" optionLabel="label"
                                    optionValue="value" (onChange)="onChange($event)"></p-selectButton>
                            </div>
                            <div class="p-col-12 col-md-6 p-fluid">
                                <label for="email">E-mail</label>
                                <input [(ngModel)]="usuario.email" type="text" name="email" class="form-control"
                                    id="email" aria-describedby="emailHelp" placeholder="Digite o e-mail">
                            </div>
                            <div class="p-col-4 col-md-3 p-fluid">
                                <label for="telefone">Telefone *</label>
                                <!-- <input [(ngModel)]="usuario.telefone" type="text" name="telefone" class="form-control" id="telefone" aria-describedby="telefoneHelp" placeholder="Digite o telefone"><br> -->
                                <p-inputMask mask="(99) 99999-9999" [(ngModel)]="usuario.telefone"
                                    placeholder="(99) 99999-9999" name="telefone"></p-inputMask>
                            </div>
                            <div class="p-col-4 col-md-3 p-fluid" style="margin-top: 32px;">
                                <p-button label="Add endereço" (click)="chamarTelaEndereco()"></p-button>
                            </div>
                            <!-- <div class="p-col-12 col-md-8 p-fluid">
                                <label for="endereco">Endereço</label>
                                <input [(ngModel)]="usuario.endereco" type="text" name="endereco" class="form-control" id="endereco" aria-describedby="enderecoHelp" placeholder="Digite o endereco">
                            </div> -->
                            <div class="p-col-12 col-md-4 p-fluid" [hidden]="!exibindoCargo">
                                <label>Cargos</label>
                                <p-dropdown name="cargo" [options]="cargos" [(ngModel)]="usuario.cargo"
                                    placeholder="Selecione"></p-dropdown>
                            </div>
                            <div class="p-col-12 col-md-4 p-fluid">
                                <label>Categoria</label>
                                <p-dropdown name="categoria" [options]="categorias" [(ngModel)]="usuario.categoria"
                                    placeholder="Selecione "></p-dropdown>
                            </div>

                            <div class="p-col-4 col-md-4 p-fluid" [hidden]="!exibindoCPF">
                                <label for="cpf">CPF *</label>
                                <p-inputMask mask="999.999.999-99" [(ngModel)]="usuario.cpf"
                                    placeholder="999.999.999-99" name="cpf"></p-inputMask>
                            </div>

                            <div class="p-col-4 col-md-4 p-fluid" [hidden]="!exibindoCNPJ">
                                <label for="cnpj">CNPJ</label>
                                <p-inputMask mask="99.999.999/9999-99" [(ngModel)]="usuario.cnpj"
                                    placeholder="99.999.999/9999-99" name="cpnj"></p-inputMask>
                            </div>

                            <div class="p-col-4 col-md-4 p-fluid">
                                <label for="cpf">Login</label>
                                <!-- <input [(ngModel)]="user.login" type="text" name="cpf" class="form-control" id="cpf"> -->
                                <p-inputMask mask="999.999.999-99" [(ngModel)]="user.login" placeholder="999.999.999-99"
                                    name="cpf"></p-inputMask>
                                <!-- <input [(ngModel)]="cpf" type="text" name="lcpf" class="form-control" id="cpf" readonly> -->
                            </div>
                            <div class="p-col-12 col-md-4 p-fluid">
                                <label for="senha">Senha *</label>
                                <p-password [(ngModel)]="user.senha" name="senha" placeholder="Digite a senha"
                                    [toggleMask]="true"></p-password>
                            </div>
                            <div class="p-col-12 col-md-4 p-fluid">
                                <label>Perfil</label>
                                <p-dropdown name="perfil" [options]="perfis" [(ngModel)]="user.perfil"
                                    placeholder="Selecione "></p-dropdown>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a pButton label="Salvar Usuário " class="btn btn-primary " icon="pi pi-user-plus "
            (click)="createUsuario()"></a> &nbsp;
        <button pButton pRipple type="button" icon="pi pi-arrow-left" label="Voltar" class="p-button-outlined"
            routerLink="/usuario"></button>
    </div>
</div>

<p-dialog header="Endereço" [(visible)]="exibirEndereco">
    <div>
        <label class="col-sm-5 col-form-label">Cep </label>
        <p-inputMask mask="99999-999"class="col-md-4" [(ngModel)]="endereco.cep" name="cep" id="cep"
            aria-describedby="cepHelp"></p-inputMask>
        <p-button label="Buscar" (click)="buscarEnderecoPorCep(endereco.cep)"></p-button>
    </div>
    <br>
    <div>
        <label class="col-sm-2 col-form-label">Rua </label>
        <input class="col-md-7" [(ngModel)]="endereco.logradouro" pInputText type="text" name="rua" id="rua"
        aria-describedby="ruaHelp">
        <label class="col-sm-1 col-form-label">Nº </label>
        <input class="col-md-2" [(ngModel)]="endereco.numero" pInputText type="text" name="numero" id="numero"
        aria-describedby="numHelp">
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Bairro</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="endereco.bairro" type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Estado</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="endereco.uf" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cidade</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="endereco.localidade" type="text" class="form-control">
                    
                </div>
            </div>
        </div>
        <p-button pButton type="button" label="Adicionar" (click)="adicionarEndereco()"></p-button>
    </div>
</p-dialog>