<div class="container" style="margin-top: 20px;">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="ui-g">
                    <div>
                        <h1>{{edicao ? 'Edição de ' : 'Nova '}} Usuário do sistema</h1>
                    </div>
                </div>
                <form class="form-sample">
                    <div #loginCpf>
                        <div class="row">
                            <div class="p-col-12 col-md-8 p-fluid">
                                <label for="nome">Nome *</label>
                                <input [(ngModel)]="usuario.nome" type="text" name="nome" class="form-control" id="nome" aria-describedby="nameHelp" placeholder="Digite o nome"><br>
                                <!-- <p-inputMask mask="99-999999" [(ngModel)]="usuario.nome" placeholder="99-999999"></p-inputMask> -->
                            </div>
                            <div class="p-col-4 col-md-4 p-fluid">
                                <label for="cpf" >CPF</label>
                                <!-- <input [(ngModel)]="usuario.cpf" type="text" name="cpf" class="form-control" id="cpf" aria-describedby="cpfHelp" placeholder="Digite o cpf"> -->
                                <p-inputMask mask="999.999.999-99" [(ngModel)]="usuario.cpf" placeholder="999.999.999-99" name="cpf"></p-inputMask>
                            </div>
                        </div>
                        <div class="row">
                            <div class="p-col-12 col-md-8 p-fluid">
                                <label for="email">E-mail</label>
                                <input [(ngModel)]="usuario.email" type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Digite o e-mail">
                            </div>
                            <div class="p-col-4 col-md-4 p-fluid">
                                <label for="telefone">Telefone *</label>
                                <!-- <input [(ngModel)]="usuario.telefone" type="text" name="telefone" class="form-control" id="telefone" aria-describedby="telefoneHelp" placeholder="Digite o telefone"><br> -->
                                <p-inputMask mask="(99) 99999-9999" [(ngModel)]="usuario.telefone" placeholder="(99) 99999-9999" name="telefone"></p-inputMask>
                            </div>

                            <!-- <div class="p-col-12 col-md-8 p-fluid">
                                <label for="endereco">Endereço</label>
                                <input [(ngModel)]="usuario.endereco" type="text" name="endereco" class="form-control" id="endereco" aria-describedby="enderecoHelp" placeholder="Digite o endereco">
                            </div> -->
                            <!-- <div class="p-col-4 col-md-4 p-fluid">
                                <label for="cargo">Cargo</label>
                                <input [(ngModel)]="pessoa.cargo" type="text" name="cargo" class="form-control" id="cargo" aria-describedby="cargoHelp" placeholder="Digite o cargo"><br>
                            </div> -->
                            <div class="p-col-12 col-md-4 p-fluid">
                                <label>Cargos *</label>
                                <p-dropdown name="cargo" [options]="cargos" [(ngModel)]="usuario.cargo" placeholder="Selecione"></p-dropdown>
                            </div>
                            <div class="p-col-12 col-md-4 p-fluid">
                                <label>Categoria *</label>
                                <p-dropdown name="categoria" [options]="categorias" [(ngModel)]="usuario.categoria" placeholder="Selecione "></p-dropdown>
                            </div>
                            <div class="p-col-12 col-md-4 p-fluid ">
                                <label>Tipo de Pessoa *</label>
                                <p-dropdown name="tipoPessoa " [options]="tipoPessoas" [(ngModel)]="usuario.tipo" placeholder=" Selecione "></p-dropdown>
                            </div><br>
                        <div>
                        <a pButton label="Criar Login/Senha " class="btn btn-primary " icon="pi pi-user-plus " routerLink="/usuario/usuario-login"></a>&nbsp;
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <a pButton label="Salvar Usuário " class="btn btn-primary " icon="pi pi-user-plus " routerLink="/usuario" (click)="createUsuario()"></a>&nbsp;
        <button pButton pRipple type="button" icon="pi pi-arrow-left" label="Voltar" class="p-button-outlined" routerLink="/usuario"></button>
    </div>
</div>
