.product-badge-status-emitida{
    background-color: rgb(176, 213, 238);
}

.product-badge-status-orcamento{
    background-color: rgb(252, 244, 143);
}

.product-badge-status-cancelada{
    background-color: rgb(247, 164, 158);
}
