<div class="container">
    <div class="p-grid">
        <form>
            <div class="p-col-4" style="margin-top: 4px;">
                <h1>Distribuidora</h1>
            </div>
        </form>
    </div>
    <div class="container " style="margin-top: 20px">
        <p-table [value]="" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th class="centro ">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td> {{ usuario.id }}</td>
                    <td> {{ usuario.nome }}</td>
                    <td> {{ usuario.telefone }}</td>
                    <!-- <td> {{ usuario.cpf }}</td> -->
                    <td> {{ usuario.categoria }}</td>
                    <td> {{ usuario.cargo }}</td>


                    <td>
                        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                            [routerLink]="['/usuario/create', usuario.id]"></a>&nbsp;
                        <button pButton icon="pi pi-trash" style="margin-left: 1px;" pTooltip="Excluir"
                            (click)="deleteUsuario(usuario)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="p-grid">
        <form>
            <div class="p-col-4" style="margin-top: 4px;">
                <a pButton label="Nova Distribuidora" icon="pi pi-user-plus" routerLink="/distribuidora/cadastro"></a><br>
            </div>
        </form>
    </div>
</div>