<div class="container" style="margin-top: 20px;">
  <form>
    <div class="ui-g">
      <div>
        <h2>Pesquisa de Venda</h2>
      </div>
      <div class="p-col-12 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="Descrição">
      </div>

      <div class="p-col-4" style="margin-top: 4px;">
        <p-button label="Procurar" icon="pi pi-search"></p-button>

        <a pButton icon="pi pi-plus" label="Nova Venda" style="float:right" routerLink="/venda/cadastro"></a>
      </div>
    </div>
  </form>
    <p-table [value]="vendas" dataKey="codigo" styleClass="p-datatable-sm" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5%"></th>
          <th style="width: 6%" pSortableColumn="codigo">ID <p-sortIcon field="codigo"></p-sortIcon>
          </th>
          <th style="width: 25%" pSortableColumn="pessoa.nome">Cliente <p-sortIcon field="pessoa.nome"></p-sortIcon>
          </th>
          <th pSortableColumn="dataVenda">Data Venda <p-sortIcon field="dataVenda"></p-sortIcon>
          </th>
          <th pSortableColumn="valorTotal">Valor Venda <p-sortIcon field="valorTotal"></p-sortIcon>
          </th>
          <th pSortableColumn="tipoPagamento">Pagamento <p-sortIcon field="tipoPagamento"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-venda let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="venda"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <a routerLink="/venda/cadastro/{{venda.codigo}}">{{venda.codigo}}</a>
          <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td> -->
          <td>{{venda.pessoa.nome}}</td>
          <td>{{venda.dataVenda | date:"dd/MM/yyyy"}}</td>
          <td>{{venda.valorTotal | currency:'BRL'}}</td>
          <td>{{venda.tipoPagamento}}</td>
          <td><span [class]="'product-badge-status-' + venda.status.toLowerCase()">{{venda.status}}</span></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-venda>
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table [value]="venda.itensVenda" dataKey="codigo" [responsive]="true">
                <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%"></th>
          <th style="width: 10%">ID</th>
          <th style="width: 30%">produto</th>
          <th style="width: 20%">Quantidade</th>
          <th style="width: 20%">Total do Item</th>
          <!-- <th style="width: 4rem"></th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-itemVenda>
        <tr>
          <th></th>
          <td>{{itemVenda.codigo}}</td>
          <td>{{itemVenda.produto.descricao}}</td>
          <td>{{itemVenda.quantidade}}</td>
          <td>{{itemVenda.valorUnitario * itemVenda.quantidade | currency:'USD'}}</td>
          <!-- <td><p-button type="button" icon="pi pi-search"></p-button></td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Não há produtos para esta venda.</td>
        </tr>
      </ng-template>
    </p-table>
